@charset "utf-8";

*, *::after, *::before {box-sizing: border-box;}

body {font-size:0.9rem;}
#first {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#first img {width: 700px;}
 

