@charset "utf-8";

*, *::after, *::before {box-sizing: border-box;}

body 
{font-size:14px; line-height: 1.2rem; color: #000; background: #fff; display: block; margin: 0; padding: 0;}
#header 
{position: relative; z-index: 10; height: 80px; padding: 10px; text-align: center; vertical-align: top;}
#header img 
{width: 100%; height: auto; margin-top: -10px;}

#contents
{display: block;}
.mobile_category
{font-family: 'Spoqa Han Sans Neo', 'sans-serif';}
.mobile_category .category_top
{width: 100%; padding: 5px 0; text-align: center; margin: 0 auto;}
.mobile_category .category_top > li
{display: inline-block; margin: 0px 8px;}
.mobile_category .category_top > li a
{font-size: 12px; color: black;}
#contents .category_top a 
{text-decoration: none;}


.sub_grid
{margin-top: 10px; padding: 10px;}
.sub_grid > li
{width: 50%; display: inline-block; vertical-align: top; text-align: center; font-size: 12px; line-height: 1.4;}
#sub_lbox
{float: left; padding: 0 5px 0 0;}
#sub_lbox .gapbox
{position: relative; margin: 5px 0;}
#sub_lbox .gapbox .boximg a img 
{display: block; width: 100%; vertical-align: top;}
#sub_lbox img
{max-width: 100%;}

#sub_rbox
{float: right; padding: 0 0 0 5px;}
#sub_rbox .gapbox
{position: relative; margin: 5px 0;}
#sub_rbox .gapbox .boximg a img 
{display: block; width: 100%; vertical-align: top;}
#sub_lbox img
{max-width: 100%;}
/* #contents
{overflow: hidden; z-index: 10; width: 100%; background: #fff; position: absolute; display: flex; justify-content: center; align-items: center; height: 15%;}
#contents ul
{display: flex;}
#contents ul li
{padding: 10px; list-style: none;}
#contents ul li a
{text-decoration: none; color: #000; cursor: pointer; font-family: 'Spoqa Han Sans Neo', 'sans-serif';} */

#hamburger-icon
{position: fixed; bottom: 3px; left: 10px; height: 30px; width: 30px; cursor: pointer; z-index: 5;}
#hamburger-icon .line1 
{position: absolute; display: block; background: #000; width: 24px; height: 4px; left: 0;}
#hamburger-icon .line2 
{position: absolute; display: block; background: #000; width: 24px; height: 4px; left: 0; top: 7px;}
#hamburger-icon .line3 
{position: absolute; display: block; background: #000; width: 24px; height: 4px; left: 0; top: 14px;}

.company 
{float: left; padding: 10px 10px 60px 10px; font: lighter 12px 'Spoqa Han Sans Neo','sans-serif'; line-height: 1.8; text-transform: uppercase; margin-top: 3rem;}
.company .info
{width: 100%; float: left; text-align: left; padding: 0 0 25px 0;}
.company .info li 
{list-style: none;}
.company .util 
{width: 100%; float: left; padding: 0 0 20px 0;}
.company .time
{width: 100%; float: left; padding: 0 0 25px 0;}

.cart
{position: fixed; bottom: 18px; right: 0px; z-index: 7;}
.cart img 
{display: inline-block; width: 22px; height: 22px; text-align: center; float: right; margin: -5px 10px;}

.bottom 
{position: fixed; bottom: 0; left: 0; width: 100%; height: 48px; line-height: 48px; background: #fff; padding: 0 0 0 60px;}
.bottom ul 
{display: block;}
.bottom ul li 
{margin: 0 20px 0 0; float: left; text-align: center;}
.bottom ul li a 
{text-decoration: none; color: #000; font-family: 'Spoqa Han Sans Neo','sans-serif'; font-weight: 300; font-size: 15px;}

.sub_text {padding-top: 5px;}
.sub_text a {text-decoration: none; list-style: none; color: #000;}

#sub_rbox {margin-bottom: 15px;}
#sub_lbox {margin-bottom: 15px;}

#sub_rbox .gapbox .boximg{border: 1px solid rgba(0,0,0,0.45);}
#sub_lbox .gapbox .boximg{border: 1px solid rgba(0,0,0,0.45);}